img{
    height: 200px;
    border-radius: 20px;
}
.secao-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #151931;
    padding: 100px 20px;
}
.secao-2 main{
display: flex;
flex-direction: row;
border: 2px solid #56517e;
border-radius: 20px;
padding: 20px;
gap: 20px;

}
.secao-2 main div{
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

p,h2{
  color: white; 
 
}
.paragrafo1{
    
}
.paragrafo2{

}
.paragrafo3{

}
.paginas{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    border: 2px solid #5a6396;
    border-radius: 10px #3f326b;
    border-color: #56517e;
    background-color: rgb(206, 197, 187);

}