body{
    margin: 10 px;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;


    background-color: blueviolet;
    height: 500px;

}
.container p{
    background-color: cornflowerblue;
    font-size: 20px;
    font-weight: 700px;
    color: white;
    padding: 10px;
}